<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-pink scrolling-navbar"
            [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#"><strong></strong></a>
  </logo>
<links>
  <!--     <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a class="nav-link"><span class="sr-only" routerLink="/about"></span></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link fa fa-camera-retro fa-3x" title="Take picture of fruit" routerLink="/photoSnap"></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link fa fa-file-photo-o fa-3x" title="Upload picture of fruit" routerLink="/predict"></a>
        </li>
      </ul>
  -->
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
