<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!--hamburger menu-->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</nav>

<div class="row header-buttons">
  <div class="col-md-3 col-md-offset-4" (click)="navigateTo('photoSnap')">
    <div class="button__label">{{buttonLabels.texts.cameraButton.buttonText}}</div>
    <div class="well header-button fa fa-camera-retro fa-5x" title="{{buttonLabels.texts.cameraButton.titleText}}"></div>
  </div>

  <div class="col-md-3" (click)="navigateTo('predict')">
    <div class="button__label">{{buttonLabels.texts.photoButton.buttonText}}</div>
    <div class="well header-button photo" title="{{buttonLabels.texts.photoButton.titleText}}"></div>
  </div>
</div>


<header class="jumbotron">
  <div class="container" style="height:40px;margin-top:10px;margin-bottom:10px">
    <div div="row row-header">
      <div class="col-xs-8 video-dropfruit">
        <h1>Fruit</h1>
      </div>
    </div>
  </div>
</header>

<video playsinline autoplay muted loop id="video-fruit-dropping" playbackRate="0.5">
  <source src="./assets/video/stock-footage-fruits-fall-on-white-animation-looped.mp4" type="video/mp4">
</video>
