<div class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-inverse unique-color scrolling-navbar">
    <logo><span class="logo navbar-brand logo-ML" href="#"></span></logo>
    <ul class="navbar-nav ml-auto nav-flex-icons flex-row">
      <li class="nav-item"><a (click)="changeDefaultLanguage('en')" class="nav-link flag-icon flag-icon-gb mx-2"></a></li>
      <li class="nav-item"><a (click)="changeDefaultLanguage('nl')" class="nav-link flag-icon flag-icon-nl mx-2"></a></li>
    </ul>
  </nav>
</div>
