mdb-navbar {
  margin-bottom: 5em;
}

ul.navbar-nav.mr-auto > li {
  margin-left: 100px;
  margin-right: 100px;
}

a.logo-ML {
  background-image: url('../../assets/image/icons/MLLogo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
