<app-header></app-header>

<div class="card offset-3 w-50">
  <h4 class="card-header blue text-white text-center">About this demo
    <button type="button" class="fa fa-close pull-right blue-text" data-dismiss="modal" aria-label="Close" (click)="navigateTo('home')"></button>
  </h4>
  <div class="card-title text-center mt-3">
    <div class="ml-3">Who are we and what is this app?</div>
  </div>

  <div class="card-body text-center">
    <div class="btn btn-primary" (click)="creditsModal.show()">Credits</div>
    <div class="btn btn-primary pull" (click)="HiWModal.show()">How it Works</div>
  </div>
</div>

<!--ABOUT modal-->
<div mdbModal #creditsModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-white">About us</h4>
        <button type="button" class="fa fa-close" data-dismiss="modal" aria-label="Close"
                (click)="creditsModal.hide()"></button>
      </div>
      <div class="modal-body">

        <ul class="list-group">
          <li class="list-group-item">Linda Bergman</li>
          <li class="list-group-item">Marc Bakker</li>
          <li class="list-group-item">Thijs Coenen</li>
        </ul>

      </div>
    </div>
  </div>
</div>

<!--HOW IT WORKS modal-->
<div mdbModal #HiWModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-white">How it works</h4>
        <button type="button" class="fa fa-close" data-dismiss="modal" aria-label="Close"
                (click)="HiWModal.hide()"></button>
      </div>
      <div class="modal-body">

        <div class="container">
          <h2>How did we use Machine Learning to create an app that recognizes fruit i na picture?</h2>
          <p>...</p>
        </div>

      </div>
    </div>
  </div>
</div>
