<router-outlet></router-outlet>

<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a>Image</a></li>
        <li><a>Credits</a></li>
      </ul>
    </div>

  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->

  <!--<div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  div>
</nav>

<header class="jumbotron">
  <div class="container">
  <div div="row row-header">
    <div class="col-xs-8">
      <h1>Fruity</h1>
    </div>
  </div>
</div>
</header>
-->


<div class="container col-md-6 col-xs-12 col-md-offset-3">
  <hr>
  <div class="jumbotron">
    <form class="form-group" (ngSubmit)="onSubmit()">
      <div style="margin-bottom: 10px">
        <div class="input-group-prepend">
          <span id="inputText" class="input-group-text">Kies afbeelding:</span>
        </div>
        <input type="file"
               id="upload"
               class="form-control mb-5"
               (change)="fileSelected($event.target.files, input)"
               accept="image/jpeg"
               #input
               aria-describedby="ïnputText">
      </div>
      <button class="btn btn-primary pull-right" type="submit">Upload</button>
    </form>
  </div>

  <figure class="figure bg-info col-md-6 col-xs-12 col-md-offset-3" *ngIf="img.alt.length">
    <img class="figure-img img-fluid rounded center-block" id="uploadFile" [src]="img.src" [width]="img.width"
         [alt]="img.alt">
    <figcaption class="figure-caption text-center" [innerHTML]="classification"></figcaption>
  </figure><!--*ngIf="img.alt.length"-->
</div>

<!--
<button type="button" class="btn btn-info"
        (click)="openModal(template)">Create template modal</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
-->

<!--
<div class="well col-xs-12 col-md-3 col-md-offset-5" *ngIf="displayAbout">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="displayAbout=!displayAbout">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>Met Machine Learning kun je fruit in afbeeldingen herkennen en classificeren.
    Door:</p>
  <ul>
    <li>Linda Bergman</li>
    <li>Marc Bakker (Angular)</li>
    <li>Thijs</li>
  </ul>
</div>
-->
