<app-header></app-header>

<div class="container col-md-6 col-xs-12 col-md-offset-3">
  <hr>
  <div class="jumbotron">
    <form class="form-group" (ngSubmit)="onSubmit()">
      <div style="margin-bottom: 10px">
        <div class="input-group-prepend">
          <span id="inputText" class="input-group-text">Kies afbeelding:</span>
        </div>
        <input type="file"
               id="upload"
               class="form-control mb-5"
               (change)="fileSelected($event.target.files, input)"
               accept="image/jpeg"
               #input
               aria-describedby="ïnputText">
      </div>
      <button class="btn btn-primary pull-right" type="submit">Upload</button>
    </form>
  </div>

  <figure class="figure bg-info col-md-6 col-xs-12 col-md-offset-3" *ngIf="img.alt.length">
    <img class="figure-img img-fluid rounded center-block" id="uploadFile" [src]="img.src" [width]="img.width"
         [alt]="img.alt">
    <figcaption class="figure-caption text-center" [innerHTML]="classification"></figcaption>
  </figure><!--*ngIf="img.alt.length"-->
</div>
