<app-header></app-header>

<div mdbModal #uploadPhotoModal="mdb-modal" class="modal fade" id="uploadPhoto" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (onHidden)="navigateTo('home')">
  <div class="modal-dialog modal-notify modal-info modal-md" role="document">
    <div class="modal-content">

      <div class="modal-header blue darken-1">
        <h4 class="text-white" id="myModalLabel">{{i18nContent['modal_upload_title']}}</h4>
        <button type="button" class="fa fa-close" data-dismiss="modal" aria-label="Close" (click)="uploadPhotoModal.hide()"></button>
      </div>

      <div class="modal-body">
        <div class="container">

            <div style="margin-bottom: 10px">
              <div class="input-group-prepend">
                <span id="inputText" class="input-group-text">{{i18nContent['modal_upload_input_prepend_text']}}</span>
              </div>
              <input type="file"
                     id="upload"
                     class="form-control-file mb-5"
                     (change)="fileSelected($event.target.files)"
                     (click)="classification = '';this.img.src = ''"
                     accept="image/jpeg"
                     #input
                     aria-describedby="ïnputText">
            </div>

          <div class="col-md-6 col-xs-12 mx-auto text-center" *ngIf="img.src.length">
            <img class="img-fluid"
                 id="uploadFile"
                 [src]="img.src"
                 [width]="img.width"
                 [alt]="img.alt">
            <div [ngClass]="{'fadeInFadeOut': useClass.fadeInFadeOut}">
              {{classification}}
            </div>
            <button class="btn btn-primary mx-auto d-block" type="button" *ngIf="img.src.length" (click)="uploadFile()">{{i18nContent['modal_upload_button_upload_text']}}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- class="modal-content" -->
  </div>
</div>
<!-- mdbModal -->
