@import url('https://fonts.googleapis.com/css?family=Poppins');

/* ============ START copy from src/app/home/home.component.css ============ */

div.figure-caption {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  text-align: center;
}

/* ============ END copy from src/app/home/home.component.css ============ */

/* ============ START copy from src/app/photo-snap/photo-snap.component.css ============ */

@keyframes glow {
  0% {opacity: 0.08;}
  20% {opacity: 0.2;}
  40% {opacity: 0.4;}
  60% {opacity: 0.6;}
  80% {opacity: 0.8;}
  100% {opacity: 1;}
}

.fadeInFadeOut {
  -webkit-animation: glow 1s infinite alternate;
  -moz-animation:  glow 1s infinite alternate;
  -o-animation:  glow 1s infinite alternate;
  animation:  glow 1s infinite alternate;
}

canvas {
  display: none;
}
/* ============ END copy from src/app/photo-snap/photo-snap.component.css ============ */
